body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg,#fdf5df, #5ebec4, #f92c85); */
    background: linear-gradient(125deg,#000000, #181818, #2cccc3, #facd3d, #5626c4, #e60576);

    color: #FFFFFF;
    transition: background 1s ease-in-out;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.category-card {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.category-card:hover {
    transform: scale(1.1);
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    /* filter: grayscale(50%) brightness(80%); */
    transition: filter 0.3s ease-in-out;
}

.category-card:hover img {
    filter: grayscale(0%) brightness(100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
}

.category-card:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.overlay i {
    font-size: 24px;
    transform: rotate(45deg);
}
